.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: black;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.btn-signup {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
}

.btn-login {
  border: 1px solid #333;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  border-radius: 10px;
}
