.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.login-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.linkedin-button {
  background-color: #0077b5;
  color: white;
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 10px;
}
